.navbar{
    background-color: #e951d2; 
    height: 50px;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
  justify-content: space-between;

}

.navItems {

}

.navButton {
 margin-left: 10px;
padding: 8px 10px;
cursor: pointer;
color: #003580;

}

.logo {
    font-weight: 500;
}